<div class="single-product-wrapper">
    <LinkTo @route="products.product" @model={{product}}>
        <div class="product-img">
            <img src={{product.img_teaser}} alt={{product.name}} >
            <img class="hover-img" src="/assets/img/product-img/product1.jpg" alt="">
        </div>
    </LinkTo>
    <div class="product-description d-flex align-items-center justify-content-between">
        <div class="product-meta-data">
            <div class="line"></div>
            <p class="product-price">{{hryvna-price product.price}}</p>
            <LinkTo @route="products.product" @model={{product}}>
                <h6>{{product.name}}</h6>
            </LinkTo>
        </div>

        <div class="ratings-cart text-right">
            <div class="cart">
                <a href="cart.html" data-toggle="tooltip" data-placement="left" title="Add to Cart" data-original-title="Add to Cart"><img src="/assets/img/core-img/cart.png" alt=""></a>
            </div>
        </div>
    </div>
</div>
