<div class="shop-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="shop-title-text text-center">
            <h2>{{t "products.header"}}</h2>
        </div>
        {{#let (component "product/products-list") as |ProductsList|}}
            <ProductsList @products={{this.model}} @onAddToCart={{action "onAddToCart"}} @page={{page}} @category={{category}} />
        {{/let}}
    </div>
</div>
