<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="cart-heading">{{t "cart.title"}}</h1>
            <form action="#">
                <div class="table-content table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th>{{t "cart.colName.prodRemove"}}</th>
                                <th>{{t "cart.colName.prodImage"}}</th>
                                <th>{{t "cart.colName.prodName"}}</th>
                                <th>{{t "cart.colName.prodPrice"}}</th>
                                <th>{{t "cart.colName.prodQty"}}</th>
                                <th>{{t "cart.colName.prodTotal"}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#let (component "cart/cart-product") as |CartProduct|}}
                                {{#each cart.products as |cartProduct|}}
                                    <CartProduct @cartProduct={{cartProduct}} @onRemoveProduct={{action "onRemoveProduct"}} />
                                {{/each}}
                            {{/let}}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-7 col-sm-12 col-xs-12">
                        <div class="cart-total">
                            <h2>{{t "cart.cartTotalHeader"}}</h2>
                            <ul>
                                <li>{{t "cart.cartTotal"}}<span>{{hryvna-price totalSum}}</span></li>
                            </ul>
                            <LinkTo @disabled={{not cart.products}} @route="checkout">{{t "cart.submit"}}</LinkTo>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
