<td class="product-remove"><a href="#" {{action "removeProduct" cartProduct on="click"}}><i class="fa fa-times"></i></a></td>
<td class="product-thumbnail">
    <LinkTo @route="products.product" @model={{cartProduct}} target="_blank">
        <img src={{cartProduct.img_teaser}} alt={{translate cartProduct "name"}}>
    </LinkTo>
</td>
<td class="product-name">
    <LinkTo @route="products.product" @model={{cartProduct}} target="_blank">
        {{translate cartProduct "name"}}
    </LinkTo>
</td>
<td class="product-price"><span class="amount">{{hryvna-price cartProduct.price}}</span></td>
<td class="product-quantity">
    {{input
            type="number"
            min="1"
            name="quantity"
            value=cartProduct.cartQuantity
    }}
</td>
<td class="product-subtotal">{{hryvna-price (mult cartProduct.cartQuantity cartProduct.price)}}</td>
