<div class="waraper">
    <header>
        <div class="header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 col-lg-2 col-sm-4 col-xs-3">
                        <div class="logo">
                            <LinkTo @route="index"><img src="/assets/img/logo/logo.png" alt=""></LinkTo>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-2 col-xs-1 text-center">
                        {{#let (component "main-menu/desktop") as |MainMenu|}}
                            <MainMenu @categories={{this.model.categories}}/>
                        {{/let}}
                    </div>
                    <div class="col-md-2 col-lg-2 col-sm-6 col-xs-7 text-right text-sm text-res">
                        <div class="cart-user-language">
                            <div class="shopping-cart ml-20">
                                <LinkTo @route="cart" class="top-cart">{{this.cartProductsQty}}<i class="pe-7s-cart"></i></LinkTo>
                            </div>
                            <div class="user">
                                <LoginForm />
                            </div>
                            <div class="language-menu">
                                <LanguageToggle />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu mean-container">
                    {{#let (component "main-menu/mobile") as |MainMenu|}}
                        <MainMenu @categories={{this.model.categories}}/>
                    {{/let}}
                </div>
            </div>
        </div>
    </header>
    {{outlet}}
    <footer class="footer-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-sm-5">
                    <div class="footer-logo">
                        <a href="#"><img src="/assets/img/logo/logo.png" alt=""></a>
                        <p>{{t "logoDesc"}}</p>
                        <ul>
                            <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/devitemsllc"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.google.com/"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://www.instagram.com/devitems/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                </div>
                <div class="col-md-3 col-sm-12">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="footer-bottom text-center ptb-20">
                {{t "footerSignature"}}
            </div>
        </div>
    </footer>
</div>
<div class="notification-container">
    {{notification-container position="top"}}
</div>

